    <%= turbo_frame_tag "events" do %>
    <%= turbo_stream.append  target="events" do %>
  
            <h2>Your events:</h2>
          <div class="row">
          <% if Event.any? %>
            <% @events.each do |e|%>
            <% if e.user_id == current_user.id %>
            
              <div class="col-md-6">
                  <div class="panel shadow p-3 mb-5 bg-white rounded">
                      <div class="panel-body">
                          
                          <div class="bio">
                              <h4 class="red"><%= e.name %></h4>
                              <p><%= render e %></p>
                              
                          </div>
                          <p><%= link_to "More info...", e, data: { turbo: "false" } %></p>
                                 
                                 </div class="show">
                            <%= turbo_frame_tag "show" do %>
                                   
                        
                                </div>
                                <% end %>
                  
              </div>  
                                <% end %>
                                <% end %>
                                <% end %>
        </div>
              
          </div>
   
    <% end %>
      <% end %>