<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style:"display:block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%# <% users_array = User.all.map {|user| [user.email]} %> 
    
    <%# <select name="users">
    <% User.all.map do |user| if user.id != current_user.id  %>
      <%# <option value="user"><%= user.email</option> %>
      <%# <% end %>
       <%# <% end %> 
    <%# </select> %> 
     
    
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
