
<br>
<%= @event.name %>
<br>
<% user = Event.find(@event.id).user_id %>
<%= User.find(user).email %>
<br>
<%= @event.description %>
<%= @event.date %> <br>
<%= @event.attendances.count %> <br>



<% @event.attendances.each do |attend| %>
<% attendandts = attend.user_id %>
<%= User.find(attendandts).email %> <br>
<% end %>

<div>
  <% if user_signed_in? %>
  <%= link_to "Edit this event", edit_event_path(@event) %> 
<%= button_to "Destroy this event", @event, method: :delete %>

      <% if Attendance.find_by(user_id: current_user.id, event_id: @event.id).nil? %>
           <%= link_to "Attend",  attend_event_path %>
    
      <% else %>
<%= link_to "Un",  unatted_event_path, method: :delete %>
     
     <% end %>


  <% else %>
  <%= link_to "Back to events", events_path %>
  <% end %>
</div>
