


<%= @event.name %>
<%= @event.description %>
<%= @event.date %>

<div>
  <% if user_signed_in? %>
  <%= link_to "Edit this event", edit_event_path(@event) %> 
<%= button_to "Destroy this event", @event, method: :delete %>
  <% else %>
  <%= link_to "Back to events", events_path %>
  <% end %>
</div>
