<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<div>
    <% if flash  %>
  
    <%= flash[:notice] %>
       <%= flash[:alert] %>
       <% end %>
    </div>
      

    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a >
      <%= link_to "Events", root_path, class:"navbar-brand" %>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <% if user_signed_in? %>
          <a href="#"><%= link_to "New event", new_event_path, class:"nav-link" %>
</a>
        </li>
        <% end %>
      </ul>
      <!-- Left links -->
    <% if user_signed_in? %>
    <div class="d-flex align-items-center">
        <div> <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"btn"%>
          
        </div>
    <% else %>
      <div class="d-flex align-items-center">
        <div> <%= link_to "Log in", new_user_session_path, class:"btn"%>
          
        </div>

  <% end %>
        <button type="button" class="btn btn-primary me-3">
          Sign up for free
        </button>
        <a
          class="btn"
          href="https://github.com/lucas-perata/events_private-"
          role="button"
          target="_blank" 
          ><%= render(Primer::OcticonComponent.new(:"mark-github")) %></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

    <%= yield %>
  </body>
    
</html>
